<template>
  <div>
    <router-link to="/">Home</router-link>
    <AddTodo
      @add-todo="addTodo"
    />
    <div class="about-txt">
      <p>
        Double-click to edit a task
      </p>
      <p>
        Click on button <button class="about-txt__remove-btn">&times;</button> to delete a task
      </p>
      <p>
        Click on <input type="checkbox"> to complete/uncomplete task
      </p>
    </div>
    <div class="menu">
      <div class="check-all">
      <input type="checkbox"
        v-model="checked"
        v-on:click="checkAll()"
      >
      Check all tasks
      </div>
      <select class="filters" v-model="filter">
        <option value="All">All</option>
        <option value="Completed">Completed</option>
        <option value="Active">Active</option>
      </select>
      <button
        v-on:click="deleteChecked()"
      >
        Delete all completed task
      </button>
    </div>
    <hr> 
    <TodoList
      v-if="filteredTodo.length"
      v-bind:todos="filteredTodo"
      @remove="remove"
      @edit="edit"
      @changeStatus="changeStatus"
    />
    <p v-else>No tasks!</p>
  </div>
</template>

<script>
import TodoList from '@/components/TodoList';
import AddTodo from '@/components/AddTodo';
export default {
  name: 'app',
  data() {
    return {
      todos: [],
      filter: 'All',
      checked: false,
      itemCompleted: Number,
      selected: [],
      completed: Boolean,
      defaultLength: 0
    } 
  },
  mounted() {
    if (localStorage.getItem('todo') === null) {
      this.todos = []
    } else {
      this.todos = JSON.parse(localStorage.getItem('todo'));
    }

    this.calculate();

    if (localStorage.getItem('checked all') === null) {
      this.checked = false
    } else {
      this.checked = (JSON.parse(localStorage.getItem('checked all')));
    }
    this.updateCheckAll();
  },
  computed: {
    filteredTodo() {
      if (this.filter === 'All') {
        return this.todos;
      } else if (this.filter === 'Completed') {
        return this.todos.filter(item => item.completed === true);
      } else if (this.filter === 'Active') {
        return this.todos.filter(item => item.completed === false);
      }
      return this.todos; 
    }
  },
  methods: {
    setItem() {
      localStorage.setItem('checked all', JSON.stringify(this.checked))
      localStorage.setItem('todo', JSON.stringify(this.todos));
    },
    takeTodo() {
      this.todos = localStorage.getItem('todo');
    },
    calculate() {
      this.itemCompleted = 0;
      this.todos.forEach(item => {
        if (item.completed == true) {
          this.itemCompleted++;
        }
      })
    },
    remove(id) {
      this.todos = this.todos.filter(item => item.id !== id);
      this.updateCheckAll();
      this.setItem();
    },
    addTodo(item) {
      this.todos.push(item);
      this.filter = 'All';
      this.updateCheckAll();
      this.setItem();
    },
    edit() {
      this.updateCheckAll();
      this.setItem();
    },
    changeStatus() {
      this.updateCheckAll();
      this.setItem();
    },
    deleteChecked() {
      this.todos = this.todos.filter(item => item.completed === false);
      this.updateCheckAll();
      this.checked = false;
      this.setItem();
    },
    checkAll() {
      this.checked = !this.checked
      this.calculate();
      this.todos.forEach(item => {
        item.completed = this.checked
      })
      this.updateCheckAll();
      this.setItem();
    },
    updateCheckAll() {
      this.calculate();
      if (this.todos.length == this.itemCompleted) {
         this.checked = true;
         if (this.itemCompleted == this.defaultLength) {
           this.checked = false;
         }
      } else {
         this.checked = false;
      }
    },
  },
  components: {
    TodoList,
    AddTodo,
  }
}
</script>

<style>
  .filters {
    margin-top: .5%;
    margin-left: 2%;
  }

  .about-txt__remove-btn {
    border-radius: 50%;
    font-weight: bold;
  }

  .menu{
    display: flex;
    justify-content: space-evenly;
  }

  .check-all {
    margin-top: .8%;
  }
</style>