<template>
  <div>
    <ul>
      <TodoItem 
        v-for="(item) of todos"
        v-bind:item="item"
        v-bind:key="item.id"
        v-on:remove="removeTask"
        v-on:edit="editTask"
        v-on:changeStatus="changeStatus"
      />
    </ul>
  </div>
</template>

<script>
import TodoItem from '@/components/TodoItem';

export default {
  props: {
    todos: Array,
  },
  components: {
    TodoItem
  },
  methods: {
    removeTask(id) {
      this.$emit('remove', id);
    },
    editTask(title) {
      this.$emit('edit', title);
    },
    changeStatus(item) {
      this.$emit('changeStatus', item);
    }
  }
}
</script>

<style scoped>
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 20%;
  }
</style>