<template>
  <div>
    <li>
      <form v-if="editer" @submit.prevent="onEdit">
        <input ref="editWindow" type="text" v-focus
          v-model="editText"
          v-on:focus="focus"
          v-on:blur="focusOut">
        <button type="submit">Edit</button>
      </form>
      <span v-else
        v-bind:class="{done: item.completed}"
      >
        <input  type="checkbox" v-model="item.completed"
          v-on:change="changeStatus(item.completed)"
        >
          <span v-on:dblclick="editBtn()">
            <span class="task-text">
              {{ item.title }}
            </span>
          </span>
      </span>
      <span>
        <button class="remove" 
          v-on:click="$emit('remove', item.id)"
        >
        &times;
        </button>
      </span>
    </li>  
  </div>
</template>

<script>
export default {
  data() {
    return {
      editText: '',
      editer: false,
    }
  },
  props: {
    item: {
      type: Object,
      required: true
    }
  },
  directives: {
    focus: {
      inserted: function (el) {
        el.focus();
      }
    }
  },
  methods: {
    editBtn() { 
      this.editer = true;
    },
    focusOut() {
      this.onEdit();
    },
    focus(){
      this.editText = this.item.title;
    },
    onEdit() {
      if (this.editText.trim()) {
        this.item.title = this.editText
      }
      this.$emit('edit', this.item.title)
      this.editText = '';
      this.editer = false;
    },
    changeStatus(item) {
      item = !item;
      this.$emit('changeStatus', item)
    }
  }
}
</script>

<style scoped>
  li {
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: .5rem 2rem;
    width: 70%;
  }

  .task-text {
    word-break: break-all;
  }

  .remove {
    border-radius: 50%;
    font-weight: bold;
  }

  input {
    margin-right: 1rem;
  }

  .done {
    text-decoration: line-through;
  }
</style>